.comparison {
    background: #F2F2F2;
    padding-top: 93px;
    padding-bottom: 903px;

    &__title {
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        color: #122163;
        margin-left: 38px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -28px;
            top: 0;
            width: 10px;
            height: 88px;
            background: #78C0F7;
        }
    }
}



@media (max-width: 1023px) {
    .comparison {

        &__title {
            font-size: 38px;
        }
    }
}