.footer {
    color: #000000;
    padding-top: 43px;
    padding-bottom: 17px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #78C0F7;
        opacity: 0.1;
        top: 0px;
        left: 0px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #78C0F7;
        opacity: 0.1;
        bottom: 82px;
        left: 0px;
    }

    &__case {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin: 0;
        bottom: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
    }

    &__info {
        width: 270px;
    }

    &__number {
        margin-bottom: 4px;
    }

    &__phone {
        margin: 0;
        bottom: 0;
        margin-bottom: 25px;
        display: block;
        margin-left: 54px;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -51px;
            width: 46.46px;
            height: 40.54px;
            background-image: url('../image/footer/phone.svg');
            background-repeat: no-repeat;
        }
    }

    &__call {
        margin: 0;
        bottom: 0;
        width: 183px;
        font-weight: 300;
        font-size: 13px;
        line-height: 130%;
        color: #FFFFFF;
        border-bottom: 1px dashed #FFFFFF;
    }

    &__address {
        margin: 0;
        bottom: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
    }

    &__online {
        margin: 0;
        bottom: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
    }

    &__style {
        margin: 0;
        bottom: 0;
        font-weight: 300;
        font-size: 13px;
        line-height: 130%;
        color: #FFFFFF;
    }

    &__law {
        margin: 0;
        bottom: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 130%;
        color: #78C0F7;
        opacity: 0.7;
    }

    &__under {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        margin-bottom: 16px;
    }


    &__social {
        margin-bottom: 13px;
        padding-left: 49px;
    }

    &__icon:not(:last-child) {
        margin-right: 12px;
    }

    &__telegram {
        box-shadow: 0px 0px 15px #40B3E0;
    }

    &__viber {
        box-shadow: 0px 0px 15px #005AEC;
    }

    &__whatsapp {
        box-shadow: 0px 0px 15px #00E09B;
    }

    &__online {
        padding-left: 10px;
    }

    &__soc {
        padding-top: 2px;
        width: 140px;

        a:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }
}


@media (max-width:425px) {
    .footer {
        &::after {
            bottom: 111px;
        }

        &__item:nth-child(2) {
            padding-top: 38px;
            order: 3;
        }

        &__item:nth-child(3) {
            padding-top: 39px;
            order: 4;
        }

        &__item:nth-child(4) {
            order: 2;
        }

        &__case {
            margin-bottom: 69px;
        }

        &__under {
            flex-direction: column-reverse;
            align-items: inherit;
        }
    }
}