.header {
    padding: 24px 0px;


    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        padding-bottom: 8px;
        list-style: none;
        justify-content: space-between;
        width: 47%;
    }

    &__item {
        &--active {
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #78C0F7;
        }
    }
}

.contacts {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    list-style: none;
    display: flex;

    &__item:not(:last-child) {
        margin-right: 40px;
    }
}