.main {
  &__one {
    background-image: url("../image/main__bg__one.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5.72vw;
    position: relative;


    .main__container {
      &::before {
        content: "";
        position: absolute;
        width: 268px;
        height: 270px;
        top: 149px;
        left: 41px;
        background-image: url("../image/frame2.png");
        background-repeat: no-repeat;
      }
    }


    .main__frame {
      z-index: 3;
      cursor: pointer;
      position: absolute;
      top: calc((100vw - 1440px) / 3.3 + 358px);
      right: calc((100vw - 1440px) / 3.5 + 355px);
      background-image: url("../image/frame1.png");
      background-repeat: no-repeat;
      width: 268px;
      height: 270px;
    }

    .main__btn {
      &::before {
        content: '';
        position: absolute;
        border-radius: 200px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: linear-gradient(107.4deg, #005aec -2.61%, #08e8dd 104.67%);
        transition: all 0.4s ease-in-out;
      }
    }


    .main__btn:hover {
      background-color: inherit;
      transition: all 0.4s ease-in-out;

      &::before {
        transition: all 0.4s ease-in-out;
        opacity: 1;
        background: linear-gradient(107.4deg, #005aec -2.61%, #08e8dd 104.67%);
      }
    }

    .main__pineapple {
      z-index: 2;
      position: absolute;
      top: -264px;
      right: 357px;
      background-image: url("../image/pineapple.png");
      background-repeat: no-repeat;
      width: 268px;
      height: 257px;

      &--active {
        transition: all 1s ease-in-out;
        top: calc((100vw - 1440px) / 3.3 + 271px);
        right: calc((100vw - 1440px) / 3.5 + 300px);
      }
    }

    .main__gamepad {
      position: absolute;
      top: 50px;
      left: -360px;
      background-image: url("../image/gamepad.png");
      background-repeat: no-repeat;
      width: 268px;
      height: 257px;

      &--active {
        transition: all 1s ease-in-out;
        top: 215px;
        left: 118px;
      }
    }
  }

  &__two {
    background-image: url("../image/main__bg.png");

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-bottom: 5.72vw;

    .main__btn {
      &::before {
        content: '';
        position: absolute;
        border-radius: 200px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: linear-gradient(172.62deg, #00E29B 0%, #78C0F7 100%);
        transition: all 0.4s ease-in-out;
      }
    }


    .main__btn:hover {
      background-color: inherit;
      transition: all 0.4s ease-in-out;

      &::before {
        transition: all 0.4s ease-in-out;
        opacity: 1;
        background: linear-gradient(172.62deg, #00E29B 0%, #78C0F7 100%);
      }
    }

    .main__animation {
      cursor: pointer;
      position: absolute;
      background-image: url('../image/main__text.png');
      top: 162px;
      left: -157px;
      width: 120%;
      height: 100%;
      background-repeat: no-repeat;
      z-index: 2;


      &--two {
        position: absolute;
        background-image: url('../image/main__text__o.png');
        top: 381px;
        left: 844px;
        width: 31%;
        height: 29%;
        background-repeat: no-repeat;
        z-index: 4;
      }
    }

    .main__phone {
      position: absolute;
      width: 250px;
      height: 500px;
      transition: all 0.5s ease-in-out;

      &__one {
        background-image: url('../image/phone__animation.png');
        background-repeat: no-repeat;
        top: 54px;
        left: 221px;
        transform: rotate(0) scale(0.5);
        z-index: 1;
        transition: all 0.5s ease-in-out;

        &--active {
          top: 7px;
          left: 158px;
          transform: rotate(-22deg) scale(0.5);
          z-index: 1;
          transition: all 0.5s ease-in-out;
        }
      }

      &__two {
        background-image: url('../image/phone__animation.png');
        background-repeat: no-repeat;
        transform: rotate(0) scale(0.5);
        top: 222px;
        left: 533px;
        transition: all 0.5s ease-in-out;

        &--active {
          transform: rotate(28deg) scale(0.5);
          top: 222px;
          left: 571px;
          transition: all 0.5s ease-in-out;
        }
      }

      &__three {
        opacity: 0;
        top: 210px;
        left: 975px;
        transform: scale(0.6);
        background-image: url('../image/phone__animation.png');
        background-repeat: no-repeat;
        z-index: 3;
        transition: all 0.5s ease-in-out;

        &--active {
          opacity: 1;
          top: 129px;
          left: 975px;
          transform: scale(0.6);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  &__three {
    background-image: url('../image/project__main.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-bottom: 5.72vw;


    .main__btn {
      &::before {
        content: '';
        position: absolute;
        border-radius: 200px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: linear-gradient(140.57deg, #FC5A5A 0%, #6E74FF 100%);
        transition: all 0.4s ease-in-out;
      }
    }


    .main__btn:hover {
      background-color: inherit;
      transition: all 0.4s ease-in-out;

      &::before {
        transition: all 0.4s ease-in-out;
        opacity: 1;
        background: linear-gradient(140.57deg, #FC5A5A 0%, #6E74FF 100%);
      }
    }


    .main__box {
      position: absolute;
      background-image: url('../image/project/project__main/project__box.png');
      width: 280px;
      height: 353px;
      background-repeat: no-repeat;
      top: calc((100vw - 1440px) / 2.8 + 307px);
      left: calc((100vw - 1440px) / 2.5 + 636px);
    }

    .main__box__one {
      cursor: pointer;
      position: absolute;
      background-image: url('../image/project/project__main/project__box1.png');
      width: 200px;
      height: 175px;
      background-repeat: no-repeat;
      top: calc((100vw - 1440px) / 2.8 + 472px);
      left: calc((100vw - 1440px) / 2.5 + 665px);
      z-index: 10;
    }

    .main__project__one {
      background-image: url('../image/project/project__main/project__main1.png');
      top: calc((100vw - 1440px) / 9 - 1000px);
      left: calc((100vw - 1440px) / 2 + 179px);
      transform: rotate(33deg) scale(0.1);
      position: absolute;
      width: 800px;
      height: 800px;
      transition: all 2s ease-in-out;

      &--active {
        top: calc((100vw - 1440px) / 2.8 + 59px);
        left: calc((100vw - 1440px) / 2.5 + 368px);
        z-index: 6;
        transition: all 2s ease-in-out;
      }
    }

    .main__project__two {
      background-image: url('../image/project/project__main/project__main2.png');
      transform: rotate(18deg) scale(0.1);
      position: absolute;
      top: calc((100vw - 1440px) / 5 - 702px);
      left: calc((100vw - 1440px) / 2 - 150px);
      width: 800px;
      height: 800px;
      transition: all 2s ease-in-out;

      &--active {
        top: calc((100vw - 1440px) / 2.8 + 79px);
        left: calc((100vw - 1440px) / 2.5 + 356px);
        z-index: 4;
        transition: all 2s ease-in-out;
      }
    }

    .main__project__three {
      background-image: url('../image/project/project__main/project__main3.png');
      transform: rotate(20deg) scale(0.1);
      position: absolute;
      top: calc((100vw - 1440px) / 5 - 700px);
      left: calc((100vw - 1440px) / 2 + 515px);

      width: 800px;
      height: 800px;
      transition: all 2s ease-in-out;

      &--active {
        top: calc((100vw - 1440px) / 2.8 + 101px);
        left: calc((100vw - 1440px) / 2.5 + 384px);
        z-index: 2;
        transition: all 2s ease-in-out;
      }
    }

    .main__project__four {
      background-image: url('../image/project/project__main/project__main4.png');
      position: absolute;
      top: calc((100vw - 1440px) / 9 - 663px);
      left: calc((100vw - 1440px) / 2 + 200px);
      transform: rotate(25deg) scale(0.1);
      width: 800px;
      height: 800px;
      transition: all 2s ease-in-out;

      &--active {
        top: calc((100vw - 1440px) / 2.8 + 106px);
        left: calc((100vw - 1440px) / 2.5 + 315px);
        z-index: 1;
        transition: all 2s ease-in-out;
      }
    }

    .main__project__fife {
      background-image: url('../image/project/project__main/project__main5.png');
      transform: rotate(35deg) scale(0.1);
      position: absolute;
      top: calc((100vw - 1440px) / 9 - 763px);
      left: calc((100vw - 1440px) / 2 + 270px);
      width: 800px;
      height: 800px;
      transition: all 2s ease-in-out;

      &--active {
        top: calc((100vw - 1440px) / 2.8 + 80px);
        left: calc((100vw - 1440px) / 2.5 + 316px);
        z-index: 2;
        transition: all 2s ease-in-out;
      }
    }

    .main__project__six {
      background-image: url('../image/project/project__main/project__main6.png');
      transform: scale(0.13);
      position: absolute;
      top: calc((100vw - 1440px) / 9 - 963px);
      left: calc((100vw - 1440px) / 2 + 550px);
      width: 800px;
      height: 800px;
      transition: all 2s ease-in-out;

      &--active {
        top: calc((100vw - 1440px) / 2.8 + 77px);
        left: calc((100vw - 1440px) / 2.5 + 410px);
        z-index: 5;
        transition: all 2s ease-in-out;
      }
    }
  }

  &__link {
    cursor: pointer;
    z-index: 5;
  }



  &__text {
    z-index: 5;
  }



  &__btn {
    position: relative;
    z-index: 1;
    display: block;
    width: 212px;
  }

  &__container {
    margin-top: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__case {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
  }

  &__title {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 0.2px;
  }

}


@media (max-width: 2560px) {
  .main {

    &__one {
      .main__container {
        &::before {
          top: calc((100vw - 1440px) / 6.5 + 149px);
          left: calc((100vw - 1440px) / 6 + 41px);
        }
      }

      .main__frame {
        top: calc((100vw - 1440px) / 2.5 + 358px);
        right: calc((100vw - 1440px) / 3 + 355px);
      }

      .main__pineapple {
        &--active {
          top: calc((100vw - 1440px) / 2.5 + 271px);
          right: calc((100vw - 1440px) / 3 + 300px);
        }
      }

      .main__gamepad {
        &--active {
          top: calc((100vw - 1440px) / 6.5 + 215px);
          left: calc((100vw - 1440px) / 6 + 118px);
        }
      }
    }

  }
}

@media (max-width: 1439px) {
  .main {
    &__one {
      .main__frame {
        top: calc((100vw - 1024px) / 3.3 + 252px);
        right: calc((100vw - 1024px) / 2.3 + 161px);
        transform: scale(0.7);
      }

      .main__pineapple {
        &--active {
          transform: scale(0.7);
          top: calc((100vw - 1024px) / 3.3 + 190px);
          right: calc((100vw - 1024px) / 2.3 + 113px);
        }
      }

      .main__gamepad {
        &--active {
          transform: scale(0.7);
          top: 112px;
          left: 68px;
        }
      }

      .main__container {
        &::before {
          transform: scale(0.7);
          top: 66px;
          left: 19px;
        }
      }
    }

    &__two {
      .main__animation {
        top: 51px;
        left: -285px;
        width: 150%;
        transform: scale(0.8);

        &--two {
          top: calc((100vw - 1024px) / 28 + 261px);
          left: calc((100vw - 1024px) / 6.7 + 619px);
          width: 500px;
          height: 300px;
        }
      }
    }


    .main__phone__one {
      top: calc((100vw - 1024px) / 10 + 17px);
      left: calc((100vw - 1024px) / 7.4 + 133px);
      transform: scale(0.4);

      &--active {
        top: calc((100vw - 1024px) / 17 - 57px);
        left: calc((100vw - 1024px) / 6.4 + 95px);
        transform: rotate(-22deg) scale(0.4);
      }
    }

    .main__phone__two {
      top: calc((100vw - 1024px) / 25 + 120px);
      left: calc((100vw - 1024px) / 7 + 386px);
      transform: scale(0.4);

      &--active {
        top: calc((100vw - 1024px) / 25 + 107px);
        left: calc((100vw - 1024px) / 7 + 430px);
        transform: rotate(28deg) scale(0.4);

      }
    }

    .main__phone__three {
      top: calc((100vw - 1024px) / 25 + 129px);
      left: calc((100vw - 1024px) / 7 + 754px);
      transform: scale(0.4);

      &--active {
        top: calc((100vw - 1024px) / 25 + 57px);
        left: calc((100vw - 1024px) / 7 + 754px);
      }
    }
  }
}



@media (max-width: 1199px) {
  .main {
    &__one {
      background-image: url('../image/main__mobil.png');
      background-size: contain;
      background-position: 30px 106px;

      .main__container {
        &::before {
          transform: scale(0.5);
          top: 44px;
          left: -74px;
        }
      }

      .main__frame {
        // pointer-events: none;
        top: calc((100vw - 768px) / 3 + 169px);
        right: calc((100vw - 768px) / 2.6 + 128px);
      }

      .main__pineapple {
        transform: scale(0.7);

        &--active {
          transition: all 1s ease-in-out;
          top: calc((100vw - 768px) / 3 + 104px);
          right: calc((100vw - 768px) / 2.6 + 81px);
        }
      }

      .main__gamepad {
        transform: scale(0.5);

        &--active {
          transition: all 1s ease-in-out;
          top: 81px;
          left: -37px;
        }
      }
    }

    &__title {
      font-size: 24px;
    }

    &__caption {
      font-size: 20px;
    }

  }
}

@media (max-width: 1023px) {
  .main {
    &__two {
      .main__animation {
        width: 337%;
        left: calc((100vw - 768px) / 33.6 - 764px);
        transform: scale(0.6);
        pointer-events: none;

        &--two {
          top: calc((100vw - 768px) / 28 + 241px);
          left: calc((100vw - 768px) / 1.42 + 254px);
          width: 500px;
          height: 300px;
        }
      }

    }

    .main__project__one {
      top: calc((100vw - 1440px) / 2.8 + 59px);
      left: calc((100vw - 1440px) / 2.5 + 368px);
      transform: rotate(33deg) scale(0.1);
    }

    .main__project__two {
      transform: rotate(18deg) scale(0.1);
      top: calc((100vw - 1440px) / 2.8 + 79px);
      left: calc((100vw - 1440px) / 2.5 + 356px);
    }

    .main__project__three {
      transform: rotate(20deg) scale(0.1);
      top: calc((100vw - 1440px) / 2.8 + 101px);
      left: calc((100vw - 1440px) / 2.5 + 384px);
    }

    .main__project__four {
      top: calc((100vw - 1440px) / 2.8 + 106px);
      left: calc((100vw - 1440px) / 2.5 + 315px);
      transform: rotate(25deg) scale(0.1);
    }

    .main__project__fife {
      transform: rotate(35deg) scale(0.1);
      top: calc((100vw - 1440px) / 2.8 + 80px);
      left: calc((100vw - 1440px) / 2.5 + 316px);
    }

    .main__project__six {
      transform: scale(0.1);
      top: calc((100vw - 1440px) / 2.8 + 77px);
      left: calc((100vw - 1440px) / 2.5 + 410px);
    }

    .main__frame {
      pointer-events: none;
    }

    .main__pineapple {
      top: calc((100vw - 768px) / 3 + 104px);
      right: calc((100vw - 768px) / 2.6 + 81px);
    }

    .main__gamepad {

      top: 81px;
      left: -37px;
    }

    .main__phone__one {
      display: none;
    }

    .main__phone__two {
      display: none;
    }

    .main__phone__three {
      opacity: 1;
      top: calc((100vw - 768px) / 25 + 39px);
      left: calc((100vw - 768px) / 1.44 + 384px);
    }

    .main__box__one {
      pointer-events: none;
    }
  }
}


@media (max-width: 767px) {
  .main {
    overflow: hidden;
    padding-bottom: 160px;

    &__one {
      .main__container {
        flex-direction: column;
        align-items: inherit;
        margin-top: 255px;

        &::before {
          transform: scale(0.4);
          top: 55px;
          left: -86px;
        }
      }

      .main__frame {
        transform: scale(0.5);
        pointer-events: none;
        top: calc((100vw - 425px) / 3 + 75px);
        right: calc((100vw - 425px) / 2.6 + 0px);
      }

      .main__pineapple {
        transform: scale(0.5);
        opacity: 1;
        top: calc((100vw - 425px) / 3 + 30px);
        right: calc((100vw - 425px) / 2.6 + -30px);
      }

      .main__gamepad {
        transform: scale(0.4);
        top: 81px;
        left: -57px;
      }
    }


    &__two {
      .main__container {
        flex-direction: column;
        align-items: inherit;
        margin-top: 255px;
      }

      .main__animation {
        width: 2300px;
        top: -120px;
        transform: scale(0.4);
        left: calc((100vw - 425px) / 20 - 846px);

        &--two {
          top: 108px;
          left: calc((100vw - 425px) / 20 + 95px);
          width: 500px;
          height: 300px;
        }
      }

      .main__text {
        max-width: 400px;
      }

      .main__phone__three {
        opacity: 1;
        transform: scale(0.2);
        top: calc((100vw - 425px) / 101 - 44px);
        left: calc((100vw - 425px) / 21 + 223px);
      }

    }

    &__three {
      background-size: 173%;
      background-position: calc((100vw - 425px) / 20 - 141px) calc((100vw - 518px) / 20 + 42px);

      .main__text {
        max-width: 400px;
        z-index: 11;
      }


      .main__container {
        flex-direction: column;
        align-items: inherit;
        margin-top: 255px;
      }

      .main__box {
        transform: scale(0.8);
        top: calc((100vw - 425px) / 1.8 + 80px);
        left: calc((100vw - 425px) / 1 + 83px);
      }

      .main__box__one {
        transform: scale(0.8);
        top: calc((100vw - 425px) / 1.8 + 229px);
        left: calc((100vw - 425px) / 1 + 114px);
      }
    }


    .main__project__one {
      top: calc((100vw - 320px) / 1.8 - 231px);
      left: calc((100vw - 320px) / 1 - 273px);
      transform: rotate(33deg) scale(0.1);
      z-index: 6;
    }

    .main__project__two {
      transform: rotate(18deg) scale(0.1);
      top: calc((100vw - 320px) / 1.8 - 206px);
      left: calc((100vw - 320px) / 1 - 289px);
      z-index: 3;
    }

    .main__project__three {
      transform: rotate(20deg) scale(0.1);
      top: calc((100vw - 320px) / 1.8 - 162px);
      left: calc((100vw - 320px) / 1 - 249px);
      z-index: 2;
    }

    .main__project__four {
      top: calc((100vw - 320px) / 1.8 - 187px);
      left: calc((100vw - 320px) / 1 - 318px);
      transform: rotate(25deg) scale(0.1);
      z-index: 1;
    }

    .main__project__fife {
      transform: rotate(35deg) scale(0.1);
      top: calc((100vw - 320px) / 1.8 - 206px);
      left: calc((100vw - 320px) / 1 - 310px);
      z-index: 2;

    }

    .main__project__six {
      transform: scale(0.1);
      top: calc((100vw - 320px) / 1.8 - 208px);
      left: calc((100vw - 320px) / 1 - 249px);
      z-index: 5;
    }



    &__text {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 425px) {
  .main {
    &__one {
      .main__frame {
        transform: scale(0.4);
        pointer-events: none;
        top: calc((100vw - 320px) / 3 + 48px);
        right: calc((100vw - 320px) / 2.6 + -43px);
      }

      .main__pineapple {
        transform: scale(0.4);
        opacity: 1;
        top: calc((100vw - 320px) / 3 + 14px);
        right: calc((100vw - 320px) / 2.6 - 64px);
      }

      .main__gamepad {
        transform: scale(0.3);
        top: 42px;
        left: -72px;
      }


      .main__container {
        &::before {
          transform: scale(0.3);
          top: 24px;
          left: -95px;
        }
      }
    }

    &__two {
      .main__animation {

        top: -171px;
        transform: scale(0.3);
        left: calc((100vw - 320px) / 20 - 956px);

        &--two {
          top: 85px;
          left: calc((100vw - 320px) / 20 - 25.8px);
        }
      }

      .main__phone__three {
        top: calc((100vw - 425px) / 101 - 67px);
        left: calc((100vw - 425px) / 21 + 107px);
      }

      .main__text {
        max-width: 320px;
      }
    }

  }
}