.main {
  background-image: url("../image/main__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5.72vw;
  position: relative;

  &__btn {
    position: relative;
    z-index: 1;
    display: block;
    width: 212px;

    &::before {
      content: '';
      position: absolute;
      border-radius: 200px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      background: linear-gradient(107.4deg, #005aec -2.61%, #08e8dd 104.67%);
      transition: all 0.4s ease-in-out;
    }
  }

  &__btn:hover {
    background-color: inherit;
    transition: all 0.4s ease-in-out;

    &::before {
      transition: all 0.4s ease-in-out;
      opacity: 1;
      background: linear-gradient(107.4deg, #005aec -2.61%, #08e8dd 104.67%);
    }
  }

  &__container {
    margin-top: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      width: 268px;
      height: 257px;
      top: 149px;
      left: 41px;
      background-image: url("../image/frame2.png");
      background-repeat: no-repeat;
    }
  }

  &__frame {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: calc((100vw - 1440px) / 3.3 + 358px);
    right: calc((100vw - 1440px) / 3.5 + 355px);
    background-image: url("../image/frame1.png");
    background-repeat: no-repeat;
    width: 268px;
    height: 257px;
  }

  &__case {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
  }

  &__title {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 0.2px;
  }

  &__pineapple {
    z-index: 2;
    position: absolute;
    top: -264px;
    right: 357px;
    background-image: url("../image/pineapple.png");
    background-repeat: no-repeat;
    width: 268px;
    height: 257px;

    &--active {
      transition: all 1s ease-in-out;
      top: calc((100vw - 1440px) / 3.3 + 271px);
      right: calc((100vw - 1440px) / 3.5 + 300px);
    }
  }

  &__gamepad {
    position: absolute;
    top: 50px;
    left: -360px;
    background-image: url("../image/gamepad.png");
    background-repeat: no-repeat;
    width: 268px;
    height: 257px;

    &--active {
      transition: all 1s ease-in-out;
      top: 215px;
      left: 118px;
    }
  }
}

@media (max-width: 1439px) {
  .main {
    &__frame {
      top: calc((100vw - 1024px) / 3.3 + 252px);
      right: calc((100vw - 1024px) / 2.3 + 161px);
      transform: scale(0.7);
    }

    &__pineapple {
      &--active {
        transform: scale(0.7);
        top: calc((100vw - 1024px) / 3.3 + 190px);
        right: calc((100vw - 1024px) / 2.3 + 113px);
      }
    }

    &__gamepad {
      &--active {
        transform: scale(0.7);
        top: 112px;
        left: 68px;
      }
    }

    &__container {
      &::before {
        transform: scale(0.7);
        top: 66px;
        left: 19px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main {
    background-image: url('../image/main__mobil.png');
    background-size: contain;
    background-position: 30px 106px;

    &__container {
      &::before {
        transform: scale(0.5);
        top: 44px;
        left: -74px;
      }
    }

    &__title {
      font-size: 24px;
    }

    &__caption {
      font-size: 20px;
    }

    &__frame {
      pointer-events: none;
      top: calc((100vw - 768px) / 3 + 169px);
      right: calc((100vw - 768px) / 2.6 + 128px);
    }

    &__pineapple {
      transform: scale(0.7);
      opacity: 1;
      top: calc((100vw - 768px) / 3 + 104px);
      right: calc((100vw - 768px) / 2.6 + 81px);
    }

    &__gamepad {
      transform: scale(0.5);
      top: 77px;
      left: -37px;
    }
  }
}


@media (max-width: 767px) {
  .main {
    overflow: hidden;
    padding-bottom: 160px;

    &__container {
      flex-direction: column;
      align-items: inherit;
      margin-top: 255px;

      &::before {
        transform: scale(0.4);
        top: 55px;
        left: -86px;
      }
    }

    &__frame {
      transform: scale(0.5);
      pointer-events: none;
      top: calc((100vw - 425px) / 3 + 75px);
      right: calc((100vw - 425px) / 2.6 + 0px);
    }

    &__pineapple {
      transform: scale(0.5);
      opacity: 1;
      top: calc((100vw - 425px) / 3 + 30px);
      right: calc((100vw - 425px) / 2.6 + -30px);
    }

    &__gamepad {
      transform: scale(0.4);
      top: 81px;
      left: -57px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 425px) {
  .main {
    &__frame {
      transform: scale(0.4);
      pointer-events: none;
      top: calc((100vw - 320px) / 3 + 48px);
      right: calc((100vw - 320px) / 2.6 + -43px);
    }

    &__pineapple {
      transform: scale(0.4);
      opacity: 1;
      top: calc((100vw - 320px) / 3 + 14px);
      right: calc((100vw - 320px) / 2.6 - 64px);
    }

    &__gamepad {
      transform: scale(0.3);
      top: 42px;
      left: -72px;
    }


    &__container {
      &::before {
        transform: scale(0.3);
        top: 24px;
        left: -95px;
      }
    }
  }
}