.reviews {
  padding-top: 278px;
  padding-bottom: 101px;
  background-image: url("../image/reviews__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -49px;

  // position: relative;

  &__container {
    position: relative;
  }

  &__company {
    position: absolute;

    &--reviews1 {
      top: -211px;
      left: 201px;
    }

    &--reviews2 {
      top: -199px;
      right: 267px;
    }

    &--reviews3 {
      top: -53px;
      right: 15px;
    }

    &--reviews4 {
      bottom: -109px;
      right: 57px;
    }

    &--reviews5 {
      bottom: -244px;
      right: 422px;
    }

    &--reviews6 {
      bottom: -175px;
      left: 137px;
    }

    &--reviews7 {
      top: -20px;
      left: 11px;
    }
  }

  &__case {
    &--one {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 385px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #78c0f7;
  }

  &__description {
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
  }

  &__describe {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #78c0f7;
    opacity: 0.8;
  }


  .slider {
    display: flex;
    justify-content: center;

    &__title {
      margin: 0;
      padding: 0;
      max-width: 420px;
      margin-top: 88px;
      letter-spacing: -0.1px;
      font-weight: 800;
      font-size: 24px;
      line-height: 150%;
      color: #78c0f7;
    }

    &__profil {
      position: relative;
      display: flex;
      align-items: center;


      img {
        margin-right: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: -27px;
        left: 0px;
        width: 100%;
        height: 1px;
        background: #78c0f7;
        opacity: 0.3;
      }
    }

    &__caption {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #78c0f7;
    }

    &__description {
      margin: 0;
      padding: 0;
      margin-top: 88px;
      margin-bottom: 54px;
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      color: #ffffff;
      opacity: 0.8;
    }

    &__label {
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #78c0f7;
      opacity: 0.5;
    }
  }

  .swiper-slide {
    padding-left: 101px;


    &::before {
      content: "";
      position: absolute;
      top: 89px;
      left: 0;
      width: 53px;
      height: 52px;
      background-image: url("../image/apostrophe.svg");
    }

    &--one {
      padding-left: 101px;
      padding-top: 48px;
      position: relative;


    }
  }

  .swiper {
    max-width: 690px;
    height: 100%;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-right: 20px;
  }

  .swiper-horizontal {
    .swiper-pagination {
      top: 24px;
      left: -203px;
    }
  }

  .swiper-pagination {
    pointer-events: none;

    .swiper-pagination-bullet {
      background: #78c0f7;
      opacity: 0.4;
      width: 6px;
      height: 6px;
      margin-right: 10px;
    }

    .swiper-pagination-bullet-active {
      background: #78c0f7;
      opacity: 1;
      width: 10px;
      height: 10px;
    }
  }

  .swiper-pagination-bullet:nth-child(2) {
    top: -10px;
  }
}


@media (max-width: 1199px) {
  .reviews {

    &__title {
      text-align: inherit;
    }

    &__description {
      text-align: inherit;
    }

    &__describe {
      text-align: inherit;
    }

    &__company {
      position: inherit;
    }

    &__case {

      &--one {
        margin-bottom: 67px;
      }

      &--two {
        display: flex;
        justify-content: center;
      }

      &--three {
        display: flex;
        flex-direction: column;
      }

      &--four {
        display: flex;
        flex-direction: column;
      }
    }

    .slider {
      align-items: center;
      flex-direction: column;

      &__title {
        margin-bottom: 24px;
      }
    }

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      display: inline-table; 
      height: auto;
      padding-left: inherit;
      padding: 0px 32px;

      &::before {
        top: 0px;
        left: 32px;
      }
    }

    .swiper-horizontal .swiper-pagination {
      position: absolute;
      top: 32px;
      left: inherit;
      right: 0px;
      height: 30px;
      width: 90px;
    }
  }
}


@media (max-width: 425px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 77px;
  }
  .slider__description {
    font-size: 14px;
  }

  .slider__title {
    font-size: 22px;
  }
}